@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */


/* COLORES GLOBALES DEL TEMA */
/* fondos */
.bg-primary {
  @apply bg-[#d9b16b]
}
.bg-secondary {
  @apply bg-[#e8cf9a]
}
.bg-tertiary {
  @apply bg-[#f1e5cb]
}
/* textos */
.text-primary {
  @apply text-[#d9b16b]
}
.text-secondary {
  @apply text-[#e8cf9a]
}
.text-tertiary {
  @apply text-[#f1e5cb]
}
/* bordes */
.border-primary {
  @apply border-[#d9b16b]
}
.border-secondary {
  @apply border-[#e8cf9a]
}
.border-tertiary {
  @apply border-[#f1e5cb]
}
